* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #d3a9d1;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #4B164C;
    height: 80px;
    align-items: center;
    padding: 0 25px;
}

nav .logo {
    color: #DD88CF;
}

nav .logo h1 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
}

nav ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li a {
    font-family: "Lexend", sans-serif;
    color: #F8E7F6;
    text-decoration: none;
}

nav ul li a:hover {
    color: #DD88CF;
    font-size: 1.11rem;
    transition: all ease-in-out 0.5s;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 35px;
    justify-content: space-evenly;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 33px;
    height: 33px;
    opacity: 0;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 32px;
    height: 5px;
    background-color: #fff;
    transition: all ease 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(5) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(5) {
    transform: rotate(-45deg) translate(3px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0)
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: scale(0)
}

/* Responsive Breakpoint*/

/* Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    nav ul {
        /* display: none; */

        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        background-color: #4B164C;
        width: 40%;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
    }
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
    .menu-toggle {
        display: flex;
    }
}